# Basics of Python programming

This is an educational kernel to keep record of my knowledge of Python programming and to track my progress over time. It is also created as a cheetsheet for my future reference.

In [1]:
import numpy as np
import pandas as pd

## 1. Create and explore Lists

In [9]:
# create a list of integer values
list_int = [1,2,3,4,5,6,7]
list_int[2]

3

In [15]:
# list is mutable meaning that we can add or remove items to/from the list 
list_int.append(12)
list_int

[1, 2, 3, 4, 5, 6, 7, 12, 'apple', 12]

In [16]:
# list is heterogenous meaning that it can have a combinations of integer and string items 
list_int.append('apple')
list_int

[1, 2, 3, 4, 5, 6, 7, 12, 'apple', 12, 'apple']

In [17]:
# list can have duplicate items
list_int.count('apple')

2

In [33]:
list_int[:2]

[1, 2]

In [35]:
list_int[5:8]

[6, 7, 12]

In [36]:
list_int[3:]

[4, 5, 6, 7, 12, 'apple', 12, 'apple']

# 2. Create and explore Tuples

In [23]:
# create a tuple
tuple_1 = (1,'Sarah',56,'apple')

In [28]:
# tuple is immutable meaning that you can't modify its items
tuple_1[0]= ('Tara')

TypeError: 'tuple' object does not support item assignment

In [25]:
tuple_2 = tuple_1[1]

In [26]:
tuple_2

'Sarah'

# 3. Create and explore Sets

In [58]:
# set does not accept duplicate items meaning that it ignores copies of the same item and only keeps distinct items.
set_1 = set([1,2,3,'Alex','Julie','Alex',1,3,'Adrian',3,'Julie','Nicole',5,3])
set_1

{1, 2, 3, 5, 'Adrian', 'Alex', 'Julie', 'Nicole'}

In [59]:
set_2 = set([1,55,33,11,'Alison','Pam','Tony','Adrian'])

In [60]:
set_1.union(set_2)

{1,
 11,
 2,
 3,
 33,
 5,
 55,
 'Adrian',
 'Alex',
 'Alison',
 'Julie',
 'Nicole',
 'Pam',
 'Tony'}

In [61]:
set_1.intersection(set_2)

{1, 'Adrian'}

In [62]:
set_1.difference(set_2)

{2, 3, 5, 'Alex', 'Julie', 'Nicole'}

# 4. Create and explore Dictionaries

In [44]:
dict_1 = {'adults':12, 'toddlers':21, 'juniours': 5}
dict_1

{'adults': 12, 'toddlers': 21, 'juniours': 5}

In [45]:
dict_1['toddlers']

21

In [46]:
dict_1.items()

dict_items([('adults', 12), ('toddlers', 21), ('juniours', 5)])

In [47]:
list(dict_1.items())

[('adults', 12), ('toddlers', 21), ('juniours', 5)]

In [48]:
dict_1.keys()

dict_keys(['adults', 'toddlers', 'juniours'])

In [49]:
dict_1.values()

dict_values([12, 21, 5])

In [50]:
list(dict_1.keys())

['adults', 'toddlers', 'juniours']

In [51]:
list(dict_1.values())

[12, 21, 5]

In [52]:
10 in dict_1

False

In [53]:
len(dict_1)

3

In [55]:
# KeyError when the item doesn't exist in the dictionary 
dict_1['elderlies']

KeyError: 'elderlies'