In [1]:
import numpy as np
import pandas as pd

# 1. Iterating through objects

In [6]:
# iterate through lists
list_1 = ['London','Paris','Rome','Amesterdam',12,22,33,44,80]

In [3]:
for i in list_1:
    print(i)

London
Paris
Rome
Amesterdam
12
22
33
44
80

In [7]:
# iterate through tuples
tuple_1 = ('Git','Kubernetes','Terraform','Go')

In [5]:
for i in tuple_1:
    print(i)

Git
Kubernetes
Terraform
Go

In [9]:
# iterate through sets
set_1 = {'Transformers','Pride & Prejudice','Lost in translations','Body of lies'}

In [10]:
for i in set_1:
    print(i)

Lost in translations
Pride & Prejudice
Body of lies
Transformers

In [13]:
dict_1 = {
    'Sam': 10
    ,'James': 21
    ,'Ana': 321
    ,'Chris': 15
    ,'Niki': 42
}

In [17]:
# to access the keys value pairs
for i in dict_1.items():
    print(i)

('Sam', 10)
('James', 21)
('Ana', 321)
('Chris', 15)
('Niki', 42)

In [20]:
# to access the keys value pairs
for i,j in dict_1.items():
    print(i+':'+str(j))

Sam:10
James:21
Ana:321
Chris:15
Niki:42

In [21]:
# to access the value
for i in dict_1.values():
    print(i)

10
21
321
15
42

In [22]:
# to access the keys
for i in dict_1.keys():
    print(i)

Sam
James
Ana
Chris
Niki

In [16]:
# to access the keys
for i in dict_1:
    print(i)

Sam
James
Ana
Chris
Niki

# 2. Iterating through less visual objects

In [25]:
# iterate through a range of numbers
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [26]:
# iterate through enumerate - it adds a counter to any iterable
list_2 = ['Country','County','Town','Village']
enum_list_2 = enumerate(list_2)

In [27]:
for item in enum_list_2:
    print(item)

(0, 'Country')
(1, 'County')
(2, 'Town')
(3, 'Village')