# Everything Strings

In [5]:
str_1 = 'python interview'
str_1[3]

'h'

In [4]:
len(str_1)

16

In [6]:
str_1[-3]

'i'

In [7]:
str_1[4:]

'on interview'

In [9]:
str_1[:6]

'python'

In [10]:
str_1.index('i')

7

In [12]:
# strings are immutable
str_1[2] = 's'

TypeError: 'str' object does not support item assignment

In [16]:
str_2 = ' is difficult'

In [17]:
str_3 = str_1 + str_2
str_3

'python interview is difficult'

In [19]:
str_4 = str_3.replace('python','sql')
str_4

'sql interview is difficult'

In [20]:
str_4.upper()

'SQL INTERVIEW IS DIFFICULT'

In [21]:
str_4.capitalize()

'Sql interview is difficult'

In [22]:
# create a string from a list of words
list_1 = ['I','love','reading','beauty','blogs']
str_5 = ' '.join(list_1)
str_5

'I love reading beauty blogs'

In [24]:
# breaking a string into a list of words
str_6 = 'mastering scales and arpegios in piona and violin takes a lot of practices and dedication.'
list_2 = str_6.split(' ')
list_2

['mastering',
 'scales',
 'and',
 'arpegios',
 'in',
 'piona',
 'and',
 'violin',
 'takes',
 'a',
 'lot',
 'of',
 'practices',
 'and',
 'dedication.']

## String methods with DataFrames

In [25]:
import pandas as pd

In [27]:
data = {'name':['andy','tanya','zoe'],'age':[39,27,30]}
df = pd.DataFrame(data)
df

    name  age
0   andy   39
1  tanya   27
2    zoe   30

In [29]:
df['name'] = df['name'].str.capitalize()
df

    name  age
0   Andy   39
1  Tanya   27
2    Zoe   30

In [30]:
df['name'] = df['name'].str.upper()
df

    name  age
0   ANDY   39
1  TANYA   27
2    ZOE   30

# Positional formatting / String interpolation

In [31]:
str_7 = 'string manipulation'
print(f"{str_7} in python is fun")

string manipulation in python is fun

### 1. positional formatting

In [34]:
print("Machine learning provides {} the ability to learn {}".format("system","automatically"))

Machine learning provides system the ability to learn automatically

In [36]:
str_8 = "{} rely on {} datasets."
method = "supervised algorithms"
condition = "labelled"

print(str_8.format(method,condition))

supervised algorithms rely on labelled datasets.

### 2. reordering values

In [37]:
print("{2} has a friend called {0} and a sister called {1}.".format("Lola","Amanda","Jake"))

Jake has a friend called Lola and a sister called Amanda.

### 3. named placeholders

In [38]:
str_9 = {"tool": "unsupervised algorithms","goal":"patterns"}
print('{data[tool]} try to find {data[goal]} in the dataset'.format(data=str_9))

unsupervised algorithms try to find patterns in the dataset

### 4. format specifier

In [40]:
print("only {0:f}% of the {1} produced worldwide is {2}!".format(0.515567,"data","analysed"))

only 0.515567% of the data produced worldwide is analysed!

In [42]:
from datetime import datetime
print("Today's date is {:%Y-%m-%d %H:%M}".format(datetime.now()))

Today's date is 2019-08-08 22:06

### 5. f-strings

In [44]:
way = "code"
method = "learning python faster"
print(f"Practicing how to {way} is the best method for {method}.")

Practicing how to code is the best method for learning python faster.

### 6. escape sequences

In [45]:
str_10 = "My dad is called \"John\""

In [47]:
family = {"dad":"John","siblings":"Peter"}
print(f"Is your dad called {family['dad']}?")

Is your dad called John?

### 7. Inline operations

In [50]:
number = 4
multiplier = 7
print(f'{number} multiplied by {multiplier} is {number *  multiplier}')

4 multiplied by 7 is 28